# [Prof. Dalvan Griebler](mailto:dalvan.griebler@pucrs.br)

## Programação Orientada a Dados (POD) - Turma 10 (POD_98H04-06)

**Atualizado**: 20/10/2021

**Descrição**: Material de apoio as aulas sobre Python para POD

**Copyright &copy;**: Este documento está sob a licensa da Criative Commons [BY-NC-ND 4.0](https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode)

# Funções Inspiradas na Programação Funcional

In [6]:
from itertools import *

## Zip

In [2]:
nomes = ['Morgana', 'Giu', 'Cibele']
idades = ['19', '22', '39']
# a menor lista é considerada para montar as listas/tuplas

t = tuple(zip(nomes, idades))
print(t)

(('Morgana', '19'), ('Giu', '22'), ('Cibele', '39'))

In [4]:
for nome, idade in zip(nomes, idades):
    print(nome, "possui", idade, "anos")

Morgana possui 19 anos
Giu possui 22 anos
Cibele possui 39 anos

## Chain

In [8]:
var = chain([1,2,3], ['d', 'c', 'j'], [(1,3), (3,3)])
print(type(var))
print(list(var))

<class 'itertools.chain'>
[1, 2, 3, 'd', 'c', 'j', (1, 3), (3, 3)]

In [11]:
for i in chain([1,2,3], ['d', 'c', 'j'], [(1,3), (3,3)]):
    print(i)

1
2
3
d
c
j
(1, 3)
(3, 3)

## Compress

In [12]:
nomes = ['Morgana', 'Giu', 'Cibele']
seletor = [True, False, True]
res = compress(nomes, seletor)
print(list(res))

['Morgana', 'Cibele']

## Dropwhile

In [14]:
L = [1,2,3,4,5,6,7,8,9,-1,-3]

res = dropwhile(lambda x: 4 > x, L)
print(list(res))

[4, 5, 6, 7, 8, 9, -1, -3]

## Tee

In [16]:
L = [1,2,3,4,5,6,7,8,9,-1,-3]
iL=iter(L)

res = tee(L,2)
print(list(res))

for i in res:
    print(list(i))

[<itertools._tee object at 0x0000017EF780F540>, <itertools._tee object at 0x0000017EF77E9F00>]
[1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -3]

## Accumulate

In [18]:
L = [1,2,3,4,5]
res = accumulate(L)
print(list(res))

[1, 3, 6, 10, 15]

In [19]:
import operator as op
L = [1,2,3,4,5]
res = accumulate(L, op.mul)
print(list(res))

[1, 2, 6, 24, 120]

In [20]:
res = accumulate(L, min)
print(list(res))

[1, 1, 1, 1, 1]

## Combinations

In [24]:
nomes = ['Morgana', 'Giu', 'Cibele']
res = combinations(nomes, 3)
print(list(res))

[('Morgana', 'Giu', 'Cibele')]

In [ ]:
nomes = ['Morgana', 'Giu', 'Cibele']
res = combinations_with_replacement(nomes, 3)
print(list(res))

## Count

In [25]:
sequencia = count(2,2)
for i in sequencia:
    if not i < 10: break
    print(i)

2
4
6
8

In [30]:
sequencia = count(1,3)
print('ss', next(sequencia))
for i in sequencia:
    if not i < 10: break
    print(i)

ss 1
4
7

In [31]:
sequencia = count(5,2)
for i in sequencia:
    if not i < 10: break
    print(i)

5
7
9

## Cycle

In [33]:
sequencia = cycle(['Morgana', 'Giu', 'Cibele'])
print('ss', next(sequencia))
c = 0
for i in sequencia:
    if not c < 10: break
    print(i)
    c += 1

ss Morgana
Giu
Cibele
Morgana
Giu
Cibele
Morgana
Giu
Cibele
Morgana
Giu

## Groupby

In [36]:
# problemas
L = [('Dalvan', 10), ('Caetano', 11), ('Dalvan', 100), ('Caetano', 111), ('Roberto', 20)]

for chave, g in groupby(L, lambda x: x[0]):
    print(chave, list(g))

Dalvan [('Dalvan', 10)]
Caetano [('Caetano', 11)]
Dalvan [('Dalvan', 100)]
Caetano [('Caetano', 111)]
Roberto [('Roberto', 20)]

## Starmap

In [38]:
L = [(11, 12), (88,90), (1,2,3)]
res = starmap(min, L)
print(list(res))

[11, 88, 1]

## Islice

In [42]:
L = ['Morgana', 'Giu', 'Cibele']
res = islice(nomes, 1,3)
print(list(res))

['Giu', 'Cibele']

# Outras função usadas em programação funcional
https://docs.python.org/3/library/itertools.html